$base-color: #FFC107;
$accent-color: #FFA000;
$white: #fff;
$header-height: 64px;
$text: #333;

body, html{
  background: #F9F9F9;
  display: block;
}
ul, li {
  list-style: none;
}
* {
  margin: 0px;
  padding: 0px;
}
a, a:after, a:before {
  text-decoration: none;
  color: $text;
}
a, p, h1, h2, h3, h4, h5, div, span {
  color: $text;
}
*:focus {
    outline: none;
}
header {
  background-color: $base-color;
  height: $header-height;
  .title {
    height: 100%;
    line-height: $header-height;
    float: left;
    font-size: 1.5em;
    font-weight: bold;
    color: $white;
    margin-right: 8px;
  }
  .description {
    height: 100%;
    line-height: $header-height;
    font-size: 0.4em;
    float: left;
    color: $white;
    margin-top: 0.8em;
  }
  .search-box {
    float: right;
    position: relative;
    height: 100%;
    $search-box: 32px;
    width: $search-box + 240px;
    .box {
      width: 240px;
      height: $search-box;
      border: none;
      margin: 0px;
      padding: 0 8px;
      border-radius: 5px 0 0 5px;
    }
    .search {
      position: absolute;
      height: $search-box;
      width: $search-box;
      border: none;
      background: $accent-color;
      color: $white;
      margin-left: 240px;
      padding: 4px;
      border-radius: 0 5px 5px 0;
    }
  }
}
footer {
  position: relative;
  background: $base-color;
  color: $white;
  height: 100px;
  width: 100%;
}
.cf:after{
  content: "";
  clear: both;
  display: block;
}
.container {
  width: 960px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}
.middle {
  position: absolute;
  top: 50%;
  -moz-transform: translate(0%,-50%);
  -webkit-transform: translate(0%,-50%);
  transform:translate(0%, -50%);
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform:translate(-50%, -50%);
}
.headline {
  padding: 2px;
  margin: 8px 8px 16px 8px;
  font-weight: bold;
  font-size: 1.2em;
  border-bottom: 2px solid $accent-color;
}
.contents {
  margin: 48px 0;
  position: relative;
  height: 100%;
  .main {
    display: inline-block;
    float: left;
    overflow: hidden;
    background: $white;
    width: 650px;
  }
  .side-bar {
    float: right;
    width: 280px;
    height: 100px;
    background: $white;
  }
}
#movie {
  .index {
    h1 {
      margin-bottom: 0px;
    }
    .content {
      ul {
        padding: 8px;
        li {
          width: 100%;
          padding: 4px;
          .thumnail {
            display: inline-block;
            float: left;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 150px;
            height: 150px;
            margin-right: 8px;
          }
          h2 {
            float: left;
            font-size: 1.2em;
            display: inline-block;
            font-weight: bold;
          }
          h3 {
            margin-top: 30px;
            font-size: 0.8em;
          }
        }
      }
    }
  }
  .show {
    h1 {
      font-weight: bold;
      font-size: 1.2em;
      padding: 8px;
    }
    p {
      display: inline-block;
      margin: 0 12px;
      font-size: 0.8em;
    }
    .youtube {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 30px;
      height: 0;
      width: 100%;
      overflow: hidden;
      iframe {
        position: absolute;
        top: 0;
        right: 0;
        width: 100% !important;
        height: 100% !important;
      }
    }
  }
}
