%meta{charset: 'UTF-8'}/
%meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
%meta{content: 'NOYDIR', name: 'ROBOTS'}
%meta{content: 'NOODP', name: 'ROBOTS'}
= analytics_init if Rails.env.production?
= display_meta_tags default_meta_tags
- params[:page]
